.shopProducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    gap: 40px;
}

.notFound {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 360px;
}

@media (max-width: 768px) {
    .notFound {
        width: 280px;
        height: 224px;
    }
}
