.button {
    border: none;
    cursor: pointer;
    transition: var(--duration);
    padding: 10px;
    white-space: nowrap;
    border-radius: 50%;
    position: relative;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button svg {
    transition: var(--duration);
}

.title {
    display: none;
}

.orange {
    background: var(--orange);
}

.orange svg {
    fill: var(--white);
}

.orange:hover {
    background: var(--orange-hover);
}

.pink {
    background: var(--pink);
}
.pink svg {
    fill: var(--white);
}

.pink:hover,
.pinkActive {
    background: var(--pink-hover);
}

.ghost {
    background: transparent;
}

.ghost svg {
    fill: var(--black);
}

.ghost:hover {
    background: var(--black);
}

.ghost:hover svg,
.ghostActive svg {
    fill: var(--white);
}

.button:enabled:active {
    box-shadow: 0 0 0 1px var(--button-focus);
    animation: anim-shadow 0.3s forwards;
}

@keyframes anim-shadow {
    100% {
        box-shadow: 0 0 50px 20px var(--button-click);
    }
}

.button:disabled,
.button[disabled] {
    background: var(--disabled);
    cursor: auto;
}
.button:disabled svg,
.button[disabled] svg {
    fill: var(--white);
}
